:root {
    --inner-width: 10rem;
    --font-size: 1.5rem;
    --outer-width: calc(var(--font-size) + var(--inner-width));
    
}

[id|="logo"] {
    border-radius: 100vw;
}

#logo-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: var(--inner-width);
    height: var(--inner-width);
    position: absolute;
    left: calc(50% - (var(--inner-width)) / 2);
    top: calc(50% - (var(--inner-width))/ 2);
}

#logo-inner-circle {
    background-color: red;
    border-radius: 100vw;
    width: var(--inner-width);
    height: var(--inner-width);
    animation: rotate-logo 5s infinite forwards linear;
    border: 2px solid red;
    box-sizing: content-box;
}

@keyframes rotate-logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#text-path {
    font-size: var(--font-size);
}