:root {
    --button-width: 10vh;
}

#navbar-container {
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: #553cb8;
    box-shadow: inset 20px 20px 60px #3f2c88,
        inset -20px -20px 60px #6b4ce8;
    bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-container {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.navbar-button {
    box-sizing: border-box;
    width: var(--button-width);
    height: var(--button-width);
    min-height: 3.3rem;
    min-width: 3.3rem;
    border-radius: 1vh;
    background-color: #23AA56;
    box-shadow: inset 20px 20px 60px #1a7e40,
        inset -20px -20px 60px #2cd66c;
    display: flex;
    justify-content: center;
    align-items: center;

}

#bottom {
    color: white;
    font-family: "Poppins";
}

#bottom a {
    justify-self: center;
    width: fit-content;
    font-size: 1.3rem;
    height: 1.9rem;
}

#bottom a:hover {
    color: rgb(0, 255, 0);
    text-decoration: underline;
}

#bottom a:hover span {
    display: none;
}

#bottom a:hover::before {
    content: "Good Luck!";
}

#join-leaderboard {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.nav-button-svg {
    width: 80%;
}

#code {
    background-color: rgb(228, 208, 10);
    box-shadow: inset 20px 20px 60px #c2b109,
        inset -20px -20px 60px #ffef0c;
    margin: 0 auto;
    color: black;
    border-radius: 5px;
    height: 2rem;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.2rem;
}

#code button {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    right: 0;
    width: 2.2em;
}

#code button svg {
    height: 95%;
    width: 95%;
}

#code button svg:hover {
    fill: white;
}

.speech-bubble {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(calc(110% + 0.625em), 0%);
    background: white;
    border-radius: .4em;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.625em solid transparent;
    border-right-color: white;
    border-left: 0;
    margin-top: -0.625em;
    margin-left: -0.625em;
}


#info-container {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-container * {
    margin: auto;
}